@media only screen and (max-width: 990px) {
  .overlay-centernobackground {
    background: rgba(5, 5, 5, 0);
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0;
    left: 0%;
    display: contents;
    align-items: center;
  }
}

@media only screen and (min-width: 993px) {
  .overlay-centernobackground {
    background: rgba(5, 5, 5, 0);
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0;
    left: 0%;
    padding-top: 0%;
    padding-left: 10%;
    padding-right: 10%;
    display: INLINE-BLOCK;
    align-items: center;
    max-width: 100%;
  }
}

.overlay-TR {
  background: rgba(5, 5, 5, 0.2);
  position: absolute;
  top: 5%;
  right: 5%;
  bottom: 0;
  left: 5%;
  display: INLINE-BLOCK;
  align-items: center;
}

@media only screen and (max-width: 992px) {
  .overlay-cb {
    background: rgba(5, 5, 5, 0.5);
    position: absolute;
    top: 10%;
    right: 5%;
    bottom: 0;
    left: 5%;
    display: contents;
    align-items: center;
  }
}

@media only screen and (min-width: 993px) {
  .overlay-cb {
    background: rgba(5, 5, 5, 0.5);
    position: absolute;
    top: 10%;
    right: 0%;
    bottom: 0;
    left: 45%;
    display: INLINE-BLOCK;
    align-items: center;
    max-width: 850px;
  }
}

h1 span {
  background-color: #fff;
  box-shadow: 8px 0 0 #fff, -8px 0 0 #fff;
  border-radius: 0px;
}

.overlay-desc {
  background: rgba(255, 255, 255, 0);
  position: absolute;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  display: INLINE-BLOCK;
  align-items: center;
  justify-content: center;
}

a.two:hover {
  text-decoration: underline;
  color: #d13a2f;
}

.landing .primary {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding: 0em;
}

p.p {
  padding-left: 15%;
  padding-right: 15%;
  text-align: justify;
}

p.pc {
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
  font-size: large;
}

.section_title {
  font-size: 1.5em;
  color: #d13a2f;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
}

.support_summary_link {
  color: #d13a2f;
  letter-spacing: 3px;
  text-align: center;
  text-transform: uppercase;
}

.core_header_title {
  font-size: 2.5em;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  display: none;
}

@media only screen and (max-width: 992px) {
  .overlay-map {
    background: rgbargba(209, 58, 47, 0);
    position: absolute;
    right: 0%;
    bottom: -16%;
    left: 0%;
    display: contents;
    align-items: center;
  }
}

@media only screen and (min-width: 993px) {
  .overlay-map {
    background: rgba(209, 58, 47, 0);
    position: absolute;
    right: 0%;
    bottom: 0%;
    left: 0%;
    padding-top: 0%;
    padding-left: 0%;
    padding-right: 10%;
    display: INLINE-BLOCK;
    align-items: center;
    max-width: 100%;
  }
}

.buttongroup {
  display: flex;
  justify-content: center;
}

.button {
  margin: 2px;
}

.btn-group button {
  padding: 10px 24px;
  margin: 2%;
  display: flex;
  margin: 10px;
}

.btn-group:after {
  content: "";
  clear: both;
  display: flex;
}

@media only screen and (max-width: 992px) {
  .overlay-pq {
    background: rgba(5, 5, 5, 0);
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0;
    left: 0%;
    display: contents;
    align-items: center;
  }
}

@media only screen and (min-width: 993px) {
  .overlay-pq {
    background: rgba(5, 5, 5, 0);
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0;
    left: 0%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 10%;
    display: INLINE-BLOCK;
    align-items: center;
    max-width: 100%;
  }
}

.landing .core_header,
.landing .primary {
  padding: 0em;
}

a.two:hover {
  text-decoration: underline;
  color: #d13a2f;
}

p.cat {
  padding-left: 15%;
  padding-right: 15%;
  text-align: justify;
  font-size: x-large;
}

@media only screen and (max-width: 992px) {
  .overlay-centernobackground {
    position: inherit;
    display: contents;
    align-items: center;
  }

  .slideshow-container {
    max-width: auto;
    position: relative;
    margin: none;
  }

  .mySlides {
    display: none;
    height: auto;
    border: none;
    overflow: hidden;
  }

  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 30%;
    width: auto;
    margin-top: auto;
    padding: 20px;
    color: #d13a2f;
    font-weight: bold;
    font-size: 15px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }

  .next {
    right: 0px;
    border-radius: 3px 3px 3px 3px;
  }

  .prev {
    left: 0;
    border-radius: 3px 3px 3px 3px;
  }

  .prev:hover,
  .next:hover {
    color: #f2f2f2;
    background-color: rgba(209, 58, 47, 0.8);
  }
}

@media only screen and (min-width: 993px) {
  .overlay-centernobackground {
    position: absolute;
    top: 500px;
    display: contents;
    align-items: center;
  }

  .slideshow-container {
    max-width: auto;
    position: relative;
    margin: auto;
  }

  .hero_video {
    height: 550px;
  }

  .mySlides {
    display: none;
    height: 550px;
    border: none;
    overflow: hidden;
  }

  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 30%;
    width: auto;
    margin-top: auto;
    padding: 22px;
    color: #da6158;
    font-weight: bold;
    /*comment*/
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 0 2px 2px 0;
  }

  .next {
    right: -50px;
    border-radius: 3px 3px 3px 3px;
  }

  .prev {
    left: -50px;
    border-radius: 3px 3px 3px 3px;
  }

  .prev:hover,
  .next:hover {
    color: #f2f2f2;
    background-color: rgba(209, 58, 47, 0.8);
  }
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color.6s ease;
}

.active,
.dot:hover {
  background-color: #fff;
}
